<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">You made it! We're calling you now.</h4>
      </div>
    </div>
  </div>
</div>
<header>
<div class='title'>
  <%= image_tag('buzz_bus.png', :size => "100x100") %>
  <h1>BuzzBus</h1>
</div>
  <nav>
    <ul>
    <% if signed_in? %>
      <li<a><%= current_user.email %></a></li>
      <li><a id="phone" href='/locations/new'><%= User.find(session[:user_id]).phone %></a></li>
      <li><%= link_to "Sign Out", signout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign In", new_session_path %></li>
      <li><%= link_to "Register", new_user_path %></li>
    <% end %>
    </ul>
  </nav>
</header>

  <% if session[:user_id] != nil %>
    <main class="form-group">
      <div>Select tracking option:</div>
      <form id="set_tracking" action="">
      <div data-toggle="buttons">
        <label class="btn btn-default btn-circle btn-lg">
          <input type="radio" name="tracking" value="0">
        </label>
        <span>Current Location</span>
        <br>
        <label class="btn btn-default btn-circle btn-lg">
          <input type="radio" name="tracking" value="1">
        </label><span>Bus Location</span>
      </div>
      </form>

      <div id="route">Select your Route:
      </div>
      <form id="set_route">
        <input class="form-control" id="route_id" type="text">
        <button class="btn btn-default btn-lg">Set Route</button>
      </form>
      <form>
        <div class="form-roup form-group-lg" id="route_form">
        </div>
      </form>

      <div id="bus_form">
      </div>

      <div id="stop_form">
      </div>
    </main>
  <% end %>
  <div id="map"></div>
  <form id="stop_tracking">
    <button id="reset" class="btn btn-default btn-lg">Stop Tracking</button>
  </form>




